@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Square+Peg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#container {
display: flex;
overflow:hidden;
height: 100vh;
cursor: none;
flex-direction: column;
}

#header {
width: 100vw;
height: 80px;
background-color: rgba(255, 255, 255, 0.267);
z-index: 14;
display: flex;
text-transform: uppercase;
backdrop-filter: blur(5px);
border-bottom: 1px solid rgba(255, 255, 255, 0.4);
cursor:auto;
position: fixed;
}

#header-logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 1px black);
    
}

#header-logo h1 {
    transition: 1s;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
    font-size: 42px;
    z-index: 14;
}

#header-logo h1:hover {
    transform: scale(1.4);
    
}

#header-menu {
    width: 65%;
} 
#header-menu ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    font-family: 'Poppins';
    font-weight: 800;
    
}

#header-menu ul li {
    transition: 1s;

}

#header-menu ul li:hover {

    opacity: 0.8;
    transform: scale(1.4);
}

li {
    list-style: none;
    color: white;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
}

#header-social {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

a {
    color: white;
    margin: 10px;
    text-decoration: none;
    filter:drop-shadow(1px 1px 1px black)
}

#header-social a i {
    transition: 1s;
}

#header-social a i:hover {
    transform: scale(1.5);
}


#container-hero {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
    display: flex;
    height: 100vh;
    
}

#container-hero-left {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-hero-right {
    width: 50%;

    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#container-hero-right h1 {
    text-transform: uppercase;
    font-family: 'Poppins';
    color: white;
    filter:drop-shadow(1px 1px 1px black);
}

#container-hero-right p {
    color: white;
    font-family: 'Poppins';
    filter:drop-shadow(1px 1px 1px black);
}

#container-hero-right button {
    background-color: rgba(255, 71, 102, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 35px;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Poppins';
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: white;
    transition: 0.5s ease-in-out;
}


#container-hero-right button:hover {
    transform: scale(1.3);
 
}


/*       CURSOR        */

#cursor-principal {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid pink; 
    z-index: 10;
}

#cursor1, #cursor2, #cursor3, #cursor4, #cursor5, #cursor6, #cursor7, #cursor8, #cursor9, #cursor10, #cursor11, #cursor12, #cursor13, #cursor14, #cursor15, #cursor16, #cursor17,#cursor18,#cursor19,#cursor20 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    animation: animacao 5s linear infinite, trocarcor 2s linear alternate infinite;
    transition: 0.8s;
    border: 1px solid pink;
    z-index: 10;
    
}

@keyframes trocarcor {
    0% { background-color: rgb(255, 0, 191);}
    30% { background-color: rgb(255, 0, 242);}
    70% { background-color: rgb(187, 0, 255);}
    100% { background-color: rgb(195, 0, 255);}

}

@keyframes animacao {
    0% { 
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0.6;
      
    
    
    }
    50% { 
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.3;
     
    }
    100% {
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0.6;

    }
}

/*   CONTAINER 2   */

#cursor-skills {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid pink; 
    z-index: 10;
}

#container-sobre {
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 10;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}


  
#content-cor {
    width: 100%;
    align-items: center;
    height: 200px;
   display: flex;
   justify-content: center; 
}

#content-cor p {
    color: rgb(73, 73, 73);
    text-shadow: 1px 1px 1px rgb(82, 82, 82);
    font-family: 'Josefin Sans';
    margin-right: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

#content-cor button {
    width: 30%;
    height: 20%;
    margin-right: 20px;
    border-radius: 5px;
    font-family: 'Josefin Sans';
    transition: 1s;
}

#content-cor button:hover {
    transform: scale(1.2);
}

#content-cor input {
    margin-right: 30px;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 50px;
	height: 32px;
  
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 5px;
    background-color: rgba(186, 186, 186, 0.2);
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}









  /* CONTAINER PROJETOS  */

  #container-projetos {
      width: 100%;
      height: 100vh;
    
  }


  #skills-card #btn-content {
      padding: 25px;
      background-color: rgba(255, 0, 0, 0.2);
      border: 1px solid rgba(123, 123, 123, 0.4);
      border-radius: 8px;
      font-family: 'Poppins';
      text-transform: uppercase;
      font-weight: 700;
      margin: 30px;
      width: 250px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
      height: 50px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 1px 1px 3px black;
    
  }
#deco-skills {
    position: absolute;
    bottom: -100.6%;
    opacity: 0.5;
    left: -250px;
    z-index: -1;
}





input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    
}
    

  
  
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 20vw;
    cursor: pointer;
    border-radius: 2px; /* iOS */
    
}

::-webkit-slider-runnable-track {
    background: #ddd;
    
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 10px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw rgb(251, 30, 255);
    border: 2px solid #999; /* 1 */
    border-radius: 2px;
    
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
    
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgb(129, 133, 136);
    box-sizing: border-box;
    
    
}



::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
    
}

::-ms-ticks-after { 
    display: none; 
    
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
    
}

::-ms-tooltip { 
    display: none;
    
}






#container-projetos {
    background: linear-gradient(0deg,rgba(49, 130, 187, 0.447), rgba(32, 130, 236, 0.474));
    border: 1px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


#content-projetos {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 50%;
    border-radius: 15px;

}

#container-projetos h1 {
    font-family: 'Josefin Sans';
    color: white;
    text-shadow: 1px 1px 2px black;

}

#container-projetos p {
    font-family: 'Square Peg';
    font-size: 30px;
    color: white;
    width: 70%;

}


.text {
    -webkit-box-reflect: below -0.46em linear-gradient(transparent, #0004);
}

.text span {
    position: relative;
    display: inline-block;
}