@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ms+Madi&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 30px 0;

    background: linear-gradient(transparent, #ff93b3bd);
}

section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 80px;
    background: #ff6868;
    border: 1px solid white;
    left: 0;

}


#container-skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    
}


#container-skills .card {
    position: relative;
    width: 250px;
    height: 300px;
    text-align: center;
    z-index: 10;
    margin: 20px 20px 60px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: 'Josefin Sans';
}


#container-skills .card .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.05);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.1);
    z-index: 10;
    border-radius: 10px;

}
 
.percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 100;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percent .number h2 {
    color: white;
    font-weight: 700;
    font-size: 50px;

}

.percent .number h2 span {
    font-size: 24px;
}

.text {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    padding: 30px 20px 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
    transition: bottom 0.5s, z-index 0s, transform 0.5s, padding 0.5s;
    transition-delay: 0.5s, 0.5s,0s,0.5s;
    color: #fff; 
    backdrop-filter: blur(2px);
    
}

.card:hover .text {
    bottom: -70px;
    transition-delay: 0s, 0.5s,0.5s,0s;
    z-index: 11;
    transform: translateX(-50%) translateY(-50px);
    padding: 10px 20px 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}


svg {
    position: relative;
    width: 150px;
    height: 150px;
}
svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: rgba(255, 255, 255, 0.05);
    transform: translate(5px, 5px);
    stroke-linecap:  round;
}

svg circle:nth-child(2) {
    stroke: white;
    stroke-dasharray: 440px;
    stroke-dashoffset: 40px;
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 85) / 100);
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 80) / 100);
}

.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 30) / 100);
}

.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 20) / 100);
}

.card:nth-child(5) svg circle:nth-child(2){
    stroke-dashoffset: calc(440px - (440px * 40) / 100);
}