@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ms+Madi&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#container {
display: flex;
overflow:hidden;
height: 100vh;
cursor: none;
flex-direction: column;
}

#header {
width: 100vw;
height: 80px;
background-color: rgba(255, 255, 255, 0.267);
z-index: 14;
display: flex;
text-transform: uppercase;
backdrop-filter: blur(5px);
border-bottom: 1px solid rgba(255, 255, 255, 0.4);
cursor:auto;
position: fixed;
}

#header-logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(1px 1px 1px black);
    
}

#header-logo h1 {
    transition: 1s;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
    font-size: 42px;
    z-index: 14;
}

#header-logo h1:hover {
    transform: scale(1.4);
    
}

#header-menu {
    width: 65%;
} 
#header-menu ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    font-family: 'Poppins';
    font-weight: 800;
    
}

#header-menu ul li {
    transition: 1s;

}

#header-menu ul li:hover {

    opacity: 0.8;
    transform: scale(1.4);
}

li {
    list-style: none;
    color: white;
    filter: drop-shadow(0 0 3px rgb(255, 255, 255));
}

#header-social {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

a {
    color: white;
    margin: 10px;
    text-decoration: none;
    filter:drop-shadow(1px 1px 1px black)
}

#header-social a i {
    transition: 1s;
}

#header-social a i:hover {
    transform: scale(1.5);
}


#container-hero {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
    display: flex;
    height: 100vh;
    
}

#container-hero-left {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-hero-right {
    width: 50%;

    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#container-hero-right h1 {
    text-transform: uppercase;
    font-family: 'Poppins';
    color: white;
    filter:drop-shadow(1px 1px 1px black);
}

#container-hero-right p {
    color: white;
    font-family: 'Poppins';
    filter:drop-shadow(1px 1px 1px black);
}

#container-hero-right button {
    background-color: rgba(255, 71, 102, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 35px;
    padding: 15px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Poppins';
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    color: white;
}


#container-hero-right button:hover {
    transform: scale(1.5);
    transition: 0.5s ease-in-out;
}


/*       CURSOR        */

#cursor-principal {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid pink; 
    z-index: 10;
}

#cursor1, #cursor2, #cursor3, #cursor4, #cursor5, #cursor6, #cursor7, #cursor8, #cursor9, #cursor10, #cursor11, #cursor12, #cursor13, #cursor14, #cursor15, #cursor16, #cursor17,#cursor18,#cursor19,#cursor20 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    animation: animacao 5s linear infinite, trocarcor 2s linear alternate infinite;
    transition: 0.8s;
    border: 1px solid pink;
    z-index: 10;
    
}

@keyframes trocarcor {
    0% { background-color: rgb(255, 0, 191);}
    30% { background-color: rgb(255, 0, 242);}
    70% { background-color: rgb(187, 0, 255);}
    100% { background-color: rgb(195, 0, 255);}

}

@keyframes animacao {
    0% { 
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0.6;
      
    
    
    }
    50% { 
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0.3;
     
    }
    100% {
        transform: translate(-50%, -50%) scale(0.4);
        opacity: 0.6;

    }
}

/*   CONTAINER 2   */


#container-skills {
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, white,white,white, rgb(248, 77, 228));
    z-index: 10;
}

#skills-top {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    background: linear-gradient(180deg, rgba(255, 101, 62, 0.583), rgba(249, 249, 249, 0.4));
}

#skills-left {
    display: flex;
    width: 50%;
    height: 60%;
    background-color: rgba(118, 118, 118, 0.317);
    justify-content: center;
  /*  background:linear-gradient(180deg, rgb(255, 255, 255), rgb(255, 255, 255), rgba(255, 74, 177, 0.447)); */
    font-family: 'Poppins';
}

#skills-card {
   
    background-color: rgba(255, 255, 255, 0.161);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    border-radius: 8px;
    z-index: 10;
   
}



#container-skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(rgb(255, 33, 33), rgba(253, 42, 147, 0.4));
    clip-path: circle(20% at 10% 90%);
    z-index: 0;
  }
  #skills-top p {
      width: 50%;
      font-weight: 500;
      font-family: 'Josefin Sans';
      text-align: center;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
  }
  #skills-top h1 {
      font-family: 'Ms Madi';
      color: white;
      text-shadow: 1px 1px 2px black;
      font-size: 50px;
  }

  #skills-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(rgb(255, 33, 33), rgba(253, 42, 102, 0.4));
    clip-path: circle(20% at 100% 70%);
    z-index: 0;
  }

input {
    width: 50vw;

}


  /* CONTAINER PROJETOS  */

  #container-projetos {
      width: 100%;
      height: 100vh;
  }


  #skills-card #btn-content {
      padding: 25px;
      background-color: rgba(255, 0, 0, 0.2);
      border: 1px solid rgba(123, 123, 123, 0.4);
      border-radius: 8px;
      font-family: 'Poppins';
      text-transform: uppercase;
      font-weight: 700;
      margin: 30px;
      width: 250px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
      height: 50px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-shadow: 1px 1px 3px black;
    
  }
#deco-skills {
    position: absolute;
    bottom: -100.6%;
    opacity: 0.5;
    left: -250px;
    z-index: 1;
}





input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    
}
    

  
  
input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 10px;
    width: 40vw;
    cursor: pointer;
    border-radius: 2px; /* iOS */
    
}

::-webkit-slider-runnable-track {
    background: #ddd;
    
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 10px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw rgb(251, 30, 255);
    border: 2px solid #999; /* 1 */
    border-radius: 2px;
    
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
    
}

::-moz-range-thumb {
    background: #fff;
    height: 40px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw rgb(129, 133, 136);
    box-sizing: border-box;
    
    
}



::-ms-thumb { 
    background: #fff;
    border: 2px solid #999;
    height: 40px;
    width: 20px;
    box-sizing: border-box;
    
}

::-ms-ticks-after { 
    display: none; 
    
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
    
}

::-ms-tooltip { 
    display: none;
    
}